.container {
	width: 1400px;
	height: 720px;
}

path {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

#line-chart{
  float: left;
}
#bar-chart{
  margin-left: 20px;
}
#h1{
  position: relative;
  left: 500px;
}
